.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}
.navbar>.container .navbar-brand-centered, 
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}
.navbar-brand{
    width: 200px;
    height: 63px;
}
#navbarSupportedContent{
    font-size: 15px;
}

.btn{
    float:right;
    margin-top: 8px;
}