<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <img class="navbar-brand" src="assets/logo.png"  routerLink="/mainPage">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/mainPage">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/appointmentPage">Appointment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/servicesPage">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/pricesPage">Prices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/contactPage">Contact</a>
        </li>
        <li class="nav-item dropdown" *ngIf="checkifAdmin == true">
          <a class="nav-link dropbtn">Admin panel</a>
          <div class="dropdown-content">
            <a routerLink="/appointmentsPanelPage">Appointments</a>
            <a routerLink="/consultationsPanelPage">Consultations Panel</a>
          </div>
        </li>
      </ul>
    <button class="btn btn-light" routerLink="/userLogin">Logout</button>
  </div>
  </div>
</nav>