.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}

.navbar>.container .navbar-brand-centered, 
.navbar>.container-fluid .navbar-brand-centered {
    margin-left: -80px;
}

.navbar-brand{
    width: 200px;
    height: 63px;
}

#navbarSupportedContent{
    font-size: 15px;
}

.btn{
    float:right;
    margin-bottom: 5px;
}

.dropbtn{
    font-size: 15px
}
  
  .dropdown-content {
    font-size: 15px;
    display: none;
    position: absolute;
    background-color: #f8f9fa;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: #97acbe;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover { background-color: #ddd; }
  
  .dropdown:hover .dropdown-content { display: block; }