.card-text {
    margin-top: 5px;
    margin-bottom: 1px;
}

.card-title {
    text-align: center;
    font-size: 1.5em;
}

.card-subtitle {
    font-size: 1.2em;
}

.input {
    width: 100%;
    padding: 10px;
    background: transparent;
    font-size: 1em;
  }


  button {
    margin-top: 10px;
    background: rgb(220,220,220);
    color: rgb(120,120,120);
    border: none;
    outline: none;
    border-radius: 3px;
    width: 231px;
    height: 30px;
    cursor: pointer;
    display:inline-block
  
  }

  .card {
    margin-top:10px;
    margin-bottom:10px;
  }

  .card-footer {
    background-color: white;
    border:none;
  }