<div class="container" style="background-color: white;">
    <h1 id="instructiuni">Instructiuni</h1>
    <p>Pentru folosirea siteului DentMedical</p>
    <h2 id="register">Register</h2>
    <p>Pentru a creea un cont nou, completati casutele libere si apasati pe butonul de register</p>
    <h2 id="login">Login</h2>
    <p>Pentru a va loga, apasati pe butonul de login si completati cu e-mailul si parola dumneavoastra.</p>
    <p>Felicitari! Acum faceti parte din clientela noastra selecta.</p>
    <h2 id="navigatie">Navigatie</h2>
    <p>In partea de sus a paginii se pot observa butoanele ce ne vor plimba prin aplicatie.</p>
    <pre><code><span class="hljs-keyword">Butonul </span>Home - ne va readuce la pagina principala
    
    <span class="hljs-keyword">Butonul </span>Appointment - este sectiunea unde va veti programa
    
    <span class="hljs-keyword">Butonul </span>Services - unde puteti privi serviciile oferite de clinica noastra
    
    <span class="hljs-keyword">Butonul </span>Prices - sectiunea unde va veti uimii de preturile noastre mici
    
    <span class="hljs-keyword">Butonul </span>Contact - pentru locatia si datele de contact
    </code></pre><h2 id="appointment">Appointment</h2>
    <p>Alegeti Data si Orele libere pentru o programare, impreuna cu un mesaj despre problema Dumneavoastra.</p>
    <h2 id="logout">Logout</h2>
    <p>Pentru a parasi aplicatia folositi butonul de logout!</p>
</div>