body {
    background: #C5E1A5;
  }

  form {
    width: 100%;
    margin: 60px auto;
    background: #efefef;
    padding: 60px 120px 80px 120px;
    text-align: center;
  }

  label {
    display: block;
    position: relative;
    margin: 40px 0px;
    font-size: 1.3em;
    width:100%;
  }
  .label-txt {
    position: absolute;
    top: -1.6em;
    padding: 10px;
    font-size: 1.3em;
    letter-spacing: 1px;
    color: rgb(120,120,120);
    font-weight: lighter;
   
  }
  .input {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
  }
  
  .line-box {
    position: relative;
    width: 100%;
    height: 2px;
    background: #BCBCBC;
  }
  
  .line {
    position: absolute;
    width: 0%;
    height: 2px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: #8BC34A;
    transition: ease .6s;
  }
  
  .input:focus + .line-box .line {
    width: 100%;
  }
  
 
  button {
    display: inline-block;
    padding: 12px 24px;
    background: rgb(220,220,220);
    font-weight: bold;
    color: rgb(120,120,120);
    border: none;
    outline: none;
    border-radius: 3px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    transition: ease .3s;
    margin-left: 3px;
    margin-right: 3px;
  }

  p {
    font-size: 2.5em
  }

  label.text-danger {
    text-align: left;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .custom-select {
    border: none;
    padding: 5px 0px;
    color: black;
    background: #efefef;
    padding-left: 12px;
    padding-top: 12px;
    outline: none;
    font-size: 1em;
    box-shadow: none;
  }
