<div class="container auctions">
    <div class="row">
        <div class="col-md-9 insideAuctions">
            <div class="tab-content">
                <h3 class="auctions-heading">Active Auction</h3>
                <div class = "product">
                    <span>Imagine/Text with product</span>
                    <div>
                        <span>Current bid:</span>
                    </div>
                </div>
                <form  autocomplete="off" >
                    <div class="row auctions-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" placeholder="Amount:"/>
                            </div>
                            <button type="submit" class="btnBet">Bet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>