<app-nav-bar></app-nav-bar>
<div class="wrapper fadeInDown">
  <div class="container mt-5">
    <div class="d-flex justify-content-center row">
      <div>
        <div class="border">
          <div class="bg-white p-3 border-bottom">
            <table class="table">
              <thead>
                <div>
                  <th scope="col">Test</th>
                </div>
              </thead>
              <tbody>
                <div > 
                  <ng-template >
                    <tr>
                    <td><span  class="badge badge-pill-clickable">Test</span></td>
                    <tr>
                  </ng-template>
                </div>
              </tbody>
            </table>
            <button class="btn btn-lg" >Back</button> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 